*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
}

/* navbar */
nav{
    display: flex;
    position: fixed;
    background-color: #12C998;
    justify-content: space-around;
    color: #fff;
    height: 50px;
    align-items: center;
    right: 0;
    left: 0;
    opacity: 1;
    z-index: 99999;
}

nav .logos img{
    width: 150px;
    height: 80px;
}

nav ul{
    display: flex;
    list-style: none;
    margin-left: 900px;
    width: 20%;
    justify-content: space-between;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover{
    color: #000;
}

/* Navigation for mobile phone */
.navi{
    position: fixed;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    'menu menu1 menu2 menu3 menu4';
    background-color:#12C998;
    justify-items: center;
    align-items: center;
    text-align: center;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 99999;
    height: 70px;
    opacity: 0;
}

.navi .menu a{
    text-decoration: none;
    color: whitesmoke;
    font-weight: bolder;
}

.navi .menu:nth-child(1){
    grid-area: menu1;
    z-index: 88;
}

.navi .menu:nth-child(2){
    grid-area: menu2;
}

.navi .menu:nth-child(3){
    grid-area: menu3;
}

.navi .menu:nth-child(4){
    grid-area: menu4;
}

.navi .menu .black{
    position: absolute;
    width: 90px;
    height: 70px;
    margin-left: -20px;
    margin-top: -63px;
    background-color: black;
    opacity: 0.2;
}

/* Container */
/* Search Function */
.container .mencari{
    padding-top: 130px;
    padding-left: 620px;
}

.container .mencari input{
    width: 300px;
    height: 50px;
    text-indent: 30px;
    border-radius: 7px;
    border: none;
    box-shadow: 0px 3px 7px grey;
}

.container .mencari img{
    width: 30px;
    position: absolute;
    margin-left: -40px;
    margin-top: 8px;
    cursor: pointer;
}

/* Unit */
.container .content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    'unit1 unit2'
    'unit3 unit4'
    'unit5 unit6';
    justify-items: center;
    align-items: center;
    text-align: center;
    margin: 100px 0px;
    gap: 30px;
}

.container .content .unitterdekat{
    background-color: whitesmoke;
    width: 600px;
    height: 180px;
    opacity: 0;
    transition: 0.3s;
}

.container .content .unitterdekat.coming{
    opacity: 1;
}

.container .content .unitterdekat a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

.container .content .unitterdekat p{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 16px;
}

.container .content .unitterdekat p:hover,
.container .content .unitterdekat h2:hover{
    color: #12C998;
}

.container .content .unitterdekat img{
    transition: 0.3s;
}

.container .content .unitterdekat img:hover{
    transform: scale(1.2);
}

.container .content .unitterdekat:nth-child(3) img{
    width: 100px;
}

.container .content .unitterdekat:nth-child(5) img{
    margin-top: 5px;
}

.container .content .unitterdekat:nth-child(6) img{
    margin-top: 15px;
}

.container .content .unitterdekat:nth-child(6) p{
    font-size: 20px;
}

/* Footer */
footer{
    bottom: 0;
}

footer .footer{
    background-color: #12C998;
    color: #fff;
    height: 50px;
    bottom: 0;
}

footer .footer p{
    font-size: 12px;
    text-align: center;
    line-height: 50px;
}

footer .information{
    background-color: whitesmoke;
    height: 300px;
}

.Category{
    padding-top: 30px;
    float: left;
    padding-left: 140px;
}

.Category p{
    line-height: 30px;
}

.Category h3{
    color: #116466;
}

.Category a{
    text-decoration: none;
    color: #12C998;
}

.Category a:hover{
    color: chocolate;
}

.Connect{
    float: right;
    padding-right: 150px;
    padding-top: 30px;
}

.Connect h3{
    color: #116466;
}

.contacts{
    padding-top: 23px;
    text-align: center;
    padding-left: 20px;
}

.Connect .contacts img:hover{
    transform: scale(1.2);
}

/* Responsive breakpoints */
/* Ukuran Tablet */
@media screen and (max-width: 768px){
    nav{
        opacity: 0;
    }

    .navi{
        opacity: 1;
    }
    
    nav .logos img{
        width: 90px;
        height: 40px;
        margin-left: 40px;
    }
    
    nav ul{
        display: flex;
        list-style: none;
        margin-left: 900px;
        width: 20%;
        justify-content: space-between;
    }

    nav ul.slide{
        opacity: 1;
        transform: translateX(0);
    }
    .menu{
        order: -1;
        justify-items: end;
    }

    .container .booking #bookingButtonId{
        margin-top: 60px;
        margin-left: 31%;
        border-radius: 19px;
        width: 300px;
        height: 60px;
        color: white;
        border: none;
        cursor: pointer;
        background-color: #12C998;
        box-shadow: 0px 2px 6px #000000;
        font-size: 20px;
        transition: 0.3s;
    }

    .container .mencari{
        padding-top: 60px;
        padding-left: 148px;
    }
    
    .container .mencari input{
        width: 300px;
        height: 50px;
        text-indent: 30px;
        border-radius: 7px;
        border: none;
        box-shadow: 0px 3px 7px grey;
        margin-left: 100px;
    }
    
    .container .mencari img{
        width: 30px;
        position: absolute;
        margin-left: -40px;
        margin-top: 8px;
        cursor: pointer;
    }

    .container .content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6;
        grid-template-areas: 
        'unit1'
        'unit2'
        'unit3' 
        'unit4' 
        'unit5' 
        'unit6';
        gap: 10px;
        margin-left: 90px;
        text-align: center;
    }

    .container .content .unitterdekat:nth-child(5) img{
        margin-top: 20px;
    }

    .container .content .unitterdekat h2{
        text-decoration: none;
        color: black;
        font-size: 22px;
        font-weight: bolder;
    }

    .container .content .unitterdekat p{
        text-decoration: none;
        color: black;
        font-size: 13px;
    }

    .container .content .unitterdekat:nth-child(6) p{
        text-decoration: none;
        color: black;
        font-size: 22px;
    }

    footer .footer{
       opacity: 0;
    }

    footer .information{
        background-color: whitesmoke;
        height: 580px;
    }
}

/* Ukuran Mobile */
@media screen and (max-width: 576px){
    nav{
        opacity: 0;
    }

    .navi{
        opacity: 1;
    }
    
    nav .logos img{
        width: 90px;
        height: 40px;
        margin-left: 40px;
    }
    
    nav ul{
        display: flex;
        list-style: none;
        margin-left: 900px;
        width: 20%;
        justify-content: space-between;
    }

    nav ul.slide{
        opacity: 1;
        transform: translateX(0);
    }
    .menu{
        order: -1;
        justify-items: end;
    }

    .container .booking #bookingButtonId{
        margin-top: 60px;
        margin-left: 31%;
        border-radius: 19px;
        width: 300px;
        height: 60px;
        color: white;
        border: none;
        cursor: pointer;
        background-color: #12C998;
        box-shadow: 0px 2px 6px #000000;
        font-size: 20px;
        transition: 0.3s;
    }

    .container .mencari{
        padding-top: 60px;
        padding-left: 148px;
    }
    
    .container .mencari input{
        width: 300px;
        height: 50px;
        text-indent: 30px;
        border-radius: 7px;
        border: none;
        box-shadow: 0px 3px 7px grey;
    }
    
    .container .mencari img{
        width: 30px;
        position: absolute;
        margin-left: -40px;
        margin-top: 8px;
        cursor: pointer;
    }

    .container .content{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 6;
        grid-template-areas: 
        'unit1'
        'unit2'
        'unit3' 
        'unit4' 
        'unit5' 
        'unit6';
        gap: 10px;
        margin-left: 0px;
        text-align: center;
    }

    .container .content .unitterdekat:nth-child(5) img{
        margin-top: 20px;
    }

    .container .content .unitterdekat h2{
        text-decoration: none;
        color: black;
        font-size: 22px;
        font-weight: bolder;
    }

    .container .content .unitterdekat p{
        text-decoration: none;
        color: black;
        font-size: 13px;
    }

    .container .content .unitterdekat:nth-child(6) p{
        text-decoration: none;
        color: black;
        font-size: 22px;
    }

    footer .footer{
       opacity: 0;
    }

    footer .information{
        background-color: whitesmoke;
        height: 580px;
    }
}